@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header{
    display: flex;
    background: rgba(0,0,0,0.2);
    justify-content: space-between;
    align-items: center;
    padding: 30px 15%;
    position: fixed;
    top: 0;
    transition: top 0.5s;
}

footer{
    bottom: 0;
    position: fixed;
}

.footerTexto{
    color: black;
}

.logo {
    cursor: pointer;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display:inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #0088a9
}



button {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border:none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgb(11, 107, 131);
}

#btnLogin {
    background-color: #edf0f1;
    color:rgba(0, 136, 169, 1);
}

#btnLogin:hover{
    background-color: lightgray;
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(135deg, rgba(0, 136, 169, 1), #edf0f1);
}

.container {
    max-width: 550px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
}

.container .title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
    text-align: center;
    margin-bottom: 30px;
}

.container .title::before {
    content: '';
    position:absolute;
    left:0;
    bottom:0;
    height: 3px;
    width: 100%;
    background: linear-gradient(135deg, rgba(0, 136, 169, 1), #edf0f1);
}

.container form .user-details{
    margin: 20px 0 22px 0;
}


form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
    margin-left: 10%;
}

.user-details .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.user-details .input-box input{
    height: 45px;
    width: 150%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color:#0088a9;
}

#lembreme {
    margin-left: 9.5%;
}

.template{
    display: none;
}

form button{
    margin-top: 20px;
    margin-left: 30%;
    width: 35%;
    outline: none;
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 50px;
    border: none;
}

form button:hover{
    background: linear-gradient(
        25deg, rgba(0, 136, 169, 1), #0ac89f);
}

form button{
    background: linear-gradient(
        25deg, #0ac89f, rgba(0, 136, 169, 1));
}


@media (max-width: 991px){
    header  {
        padding: 10px 20px;
        flex-direction: column  ;
    }
}

@media (max-width: 650px){
    .container{
        max-width: 100%;
    }
    form .user-details .input-box{
        margin-bottom: 15px;
        width: 100%;
    }
    .container form .user-details{
        max-height: 300px;
        overflow-y: scroll;
    }
    .user-details::-webkit-scrollbar{
        width: 0;
    }
    header nav{
        display:none
    }
}

.error-validation{
    color: #FF1A1A;
    top:57px;
    font-size: .8rem;
}